body{
    background-color: aquamarine;
    border-color: black;
    text-align: center;
    margin-top: 5px;
    
}
ul{
    align-items: center;
    font-weight: bold;
    font-size: medium;
    padding-top: 4px;
    text-decoration: none;
}
li{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    text-align: center;
    padding-bottom: 5px;
    text-decoration: none;
    list-style-type:none;
}


h3{
    text-decoration: underline;
}
.img{
    height: 200px;
    width: 200px
}