#li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 11pt;
    text-align: left;
    padding-bottom: 5px;
}

#ul{
    align-items: center;
    font-weight: bold;
    font-size: 14pt;
    padding-top: 2px;
}

#Header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24pt;
    align-items: center;
}

#EasterEgg{
    padding-left: 30px;
    padding-top: 10px;
    align-items: center;
}

#Kevin{
    background-color: rgb(126, 186, 210);
    border: 28;
    border-color: rgb(0, 0, 0);
    align-self: center;
}